.navbarMenuList {
    display: flex;
    
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    justify-content: center;
}
.link {
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    color: rgb(10, 3, 3);
    &.active {
        padding-left: 5px;
        padding-right: 5px;
        color: white;
        background-color: #3f51b5;
        border-radius: 5px;
    }
    &:hover, 
    :focus {
        color: #333d72;
    }
}
.navbarMenuListItem:not(:last-child) {
    margin-right: 20px;
}