.contactList {
    flex-direction: column;
    font-size: 25px;
}
.delContacts {
    margin-left: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    font-size: 15px;
    color: red;
    font-weight: 800;
}
